@import "../../styles/partials/variables";

.ProductDetailsHero {
  display: flex;
  align-items: center;

  &-picture {
    flex-basis: 40%;
    flex-shrink: 0;
  }

  &-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
  }

  &-content {
    align-self: flex-start;
  }

  &-name {
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 6.2rem;
    margin-bottom: 2.4rem;
  }

  &-summary {
    font-weight: 300;
    margin-bottom: 2.8rem;
    width: 80%;
  }

  &-select {
    display: flex;
  }

  &-flavour {
    margin-right: 2.6rem;
    flex: 4;
  }

  &-qty {
    flex: 1;
  }
}
