@import "../../styles/partials/variables";

.AddToCart {
  background-color: $black;
  color: $white;
  padding: 1.8rem 4.6rem;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(40, 40, 40, 0.2);
}
