$black: #282828;
$white: #ffffff;
$light-grey: #eeeeee;
$medium-grey: #e4e4e4;
$dark-grey: #434343;
$red: #fc405a;

$mobile: 400px;
$mobile-large: 500px;
$tablet: 700px;
$tablet-large: 900px;
$laptop: 1200px;
$desktop: 1500px;
