@import "../../styles/partials/variables";

.Topbar {
  position: relative;
  padding: 0 2.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  height: 50px;
  box-shadow: 0 1px 4px rgba(40, 40, 40, 0.1);

  &-title {
    font-weight: 500;
  }

  &-close {
    display: flex;
    align-items: center;
    padding: 0.5rem;

    svg {
      fill: $black;
    }
  }
}
