.ProductDetailsHeroCTA {
  display: flex;
  align-items: center;
  margin-top: 1.8rem;

  &-item {
    margin-right: 2.6rem;

    &:last-child {
      margin-right: unset;
      margin-left: auto;
    }
  }

  &-price {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
  }
}
