@import "../../styles/partials/variables";

.Favorites {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 199;

  &-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $black;
    opacity: 70%;
    z-index: 499;
  }

  &-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 100%;
    background-color: $medium-grey;
    z-index: 999;
    overflow: hidden;
  }

  &-list {
    display: flex;
    flex-direction: column;
  }
}
