@import "../../styles/partials/variables";

.ProductDetails {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 6.8rem auto 6.8rem;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $red;
    clip-path: polygon(0 0, 34% 0, 14% 100%, 0% 100%);
    z-index: -1;
  }

  &-inner {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  &-top {
    display: flex;
    align-items: center;
  }

  &-left {
    flex-basis: 40%;
    flex-shrink: 0;
    position: relative;
  }

  &-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
  }

  &-right {
    align-self: flex-start;
    padding: 1.8rem 0;
  }

  &-name {
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 6.2rem;
    margin-bottom: 2.4rem;
  }

  &-summary {
    width: 80%;
    font-weight: 300;
    margin-bottom: 2.8rem;
  }

  &-selectbar {
    display: flex;
  }
}
