@import "../../styles/partials/variables";

.Header {
  position: relative;
  height: 8rem;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.6rem;
  box-shadow: 0 2px 6px rgba(40, 40, 40, 0.1);

  &-nav {
    margin-right: 2.6rem;
  }

  &-shop {
    padding: 0.5rem;
  }

  &-logo {
    position: absolute;
    padding: 0.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    svg {
      height: 45px;
    }
  }

  &-list {
    margin-left: 2.6rem;
    display: flex;
    align-items: center;
  }

  &-item {
    margin: 0 0.5rem;
  }

  &-login {
    padding: 0.5rem;
  }
}
