@import "../../styles/partials/variables";

.PromoBanner {
  min-height: 4.5rem;
  padding: 0.5rem;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;

  &-text {
    color: $white;
    font-weight: 300;
    font-size: 1.4rem;
    padding: 0.5rem;

    span {
      font-weight: 500;
      padding: 0 0.5rem;
    }
  }
}
