.SectionGrid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 6.8rem auto 6.8rem;

  &-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}
