@import "../../styles/partials/variables";

.Products {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 3.8rem auto 3.8rem;

  &-inner {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 180px auto;
    column-gap: 2.8rem;
  }

  &-filter {
    grid-column: 1 / 2;
  }

  &-list {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 2.8rem;
    row-gap: 2.8rem;
  }
}
